body {
  /* background: url(../img/bck1SVG.svg); */
  background: #0D2235;
  background-size: cover;
  overflow: hidden;
}

img {
    max-width: 100%;
}

.img-coin{
  position: absolute;
  bottom: -10%;
  right: -5%;
  width: 30vw;
  height: auto;
  filter: drop-shadow(4px 0px 4px #ffffff6c);
} 

.container-imgCryptos{
  width: 16%;
  max-width: 280px;
  min-width: 240px;
  top: 5%;
  left: 2%;
  position: absolute;
  display: grid;
  grid-template-rows:repeat(4,1fr);
  & .img-crypto{
    width: 130px;
    height: 140px;
    filter: drop-shadow(4px 1px 6px #0000005b);
  }
  & .img-crypto__2,
    .img-crypto__3,
    .img-crypto__4{
      margin: -25px 0 0 0; 
    
  }
  & .img-crypto__2,
    .img-crypto__4{
    justify-self: end;
  } 
  @media screen and (width < 1500px){
    /* background-color: #A0E60A; */
  }
}

h1 {
    color: white;
    font-family: "Kode Mono", monospace;
    font-weight: 600;
    font-size: 2.8vw !important;
    text-align: center;
    text-shadow: 1px 0px 2.700000047683716px  #ffffff;
}
.span-h1{
  color: #A0E60A;
}
/* h1::after {
    content: '';
    width: 100px;
    height:6px;
    background-color: #66a2fe;
    display: block;
} */

label {
    color: white;
    text-transform: uppercase;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.2vw;
    text-shadow: 1px 1px 3px  #ffffff36;
}
input[type="submit"]{
    margin-top: 12px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    height: auto;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 40%);
    @media screen and (width < 1440px){
      font-size: 16px;
      padding: 8px;
    }
    @media screen and (width < 1020px){
      font-size: 14px;
      padding: 2px;
    }
}
.error {
    background-color: #b7322c;
    padding: 1rem;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.resultado {
  color: white;
  margin-top: 30px;
}

.resultado h2 {
    font-weight: bold;
    color: white;
}

.resultado p {
    font-size: clamp(12px, 1.5vw, 24px)!important;
}

.resultado p span {
    font-weight: bold;
}

p.precio{
  font-size: clamp(22px, 2vw, 34px) !important;
}

@media (min-width:480px) {
    /* form {
        margin-top: 150px;
    } */
}


.spinner {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #d4c5c5;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }

.px-row-main{
  padding: 0 245px;
  @media screen and (width < 1440px){
    padding: 0 180px;
    
  }
}

.margin-input{
  margin-top: 2%;
}

select, option{
  font-family: "Kode Mono", monospace !important;
  font-size: .9vw !important;
  font-weight: 600;
}

.alerta{
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
}

.precio{
  font-family: "Kode Mono",monospace;
  font-size: 36px;
}

.precioM{
  font-family: "Kode Mono",monospace;
  font-size: 28px;
}

.shadowPrecio{
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 40%);
}